@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('./fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/OpenSans-Regular.woff') format('woff'),
		url('./fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('./fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/OpenSans-SemiBold.woff') format('woff'),
		url('./fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

.label {
	margin-right: 10px;
	padding-top: 7px;
	font-weight: 600;
  }

  .ant-input {
	  margin-top: 5px;
	  margin-bottom: 5px;
	  height: 30px;
  }

  /* .answer {

  } */